body {
  height: auto;
  min-height: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
  margin-top: 1px;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > .title {
  margin-top: 11px;
}

.bar.bar-light.overlay-date {
  background: transparent;
  border: none;
}

.bar.bar-light.overlay-date .title {
  font-size: 150%;
  color: #fff;
  font-weight: bold;
  text-shadow: 0px 0px 2px #000;
  background: transparent;
  border: none;
}
